<template>
  <div>
    <div class="container">
      <div id="title">
        <h1>Mon Panier</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Photo</th>
            <th scope="col">Marque</th>
            <th scope="col">Description</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">total articles</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  id="generated-products"
          v-for="product in cartProducts"
          :key="product.id">
            <th scope="row">
              <div class="card-photo ">
                <img :src="getImage(product.id)" class="object-fit-cover" alt="" />
              </div>
            </th>
            <td>
              <h4>{{ product.model }}</h4>
            </td>
            <td>
              <h6>{{ product.description }}</h6>
            </td>
            <td class="count-product">
              <!-- component quantity-article -->
              <quantity-article
                :product="product"
                @updated="changeQuantity(product, $event)"
              ></quantity-article>
            </td>
            <td>
              <h4 class="price">{{ product.price }}</h4>
            </td>
            <td>
              <h4 class="total-line">{{ totalLine(product) }}</h4>
            </td>
            <td>
              <button class="delete-article" @click="deleteArticle(product)">
                <i class="fas fa-trash hostingMainCardGradeIcon"></i>
              </button>
            </td>
          </tr>
      
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td>
              <h3>TOTAL: {{ totalPriceArticles }}</h3>
            </td>
            <td></td>
            <td>
              <h4 id="total-article-price">
                <strong></strong>
              </h4>
            </td>
            <div class="line"></div>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td>
              <button type="submit" @click="displayForm = true" id="cart-validate">
                Valider ma commande
              </button>
            </td>
       
          </tr>
        </tfoot>
      </table>
      <div v-show="displayForm" v-if="totalPriceArticles === 0">
        Veuillez commander au moins un article
      </div>

      <!-- Formulaire -->
      <div
        class="display-form"
        v-show="displayForm"
        v-if="totalPriceArticles > 0"
      >
        <form
          action="../../api/order/"
          id="command-form"
          method="post"
          onsubmit="submitForm(event, this)"
        >
          <p>
            <i>Complétez le formulaire. Les champs marqué par </i
            ><em>*</em> sont <em>obligatoires</em>
          </p>
          <fieldset>
            <legend>Contact</legend>

            <label for="nom">Nom <em>*</em></label>
            <input
              id="nom"
              name="formName"
              placeholder="Entrez votre nom"
              autofocus=""
              required=""
            /><br />
            <div id="confirm-contact"></div>
            <label for="telephone">Portable</label>
            <input
              id="telephone"
              name="formPhone"
              type="tel"
              placeholder="06xxxxxxxx"
              pattern="06[0-9]{8}"
            /><br />
            <label for="email">Email </label>
            <input
              id="email"
              name="formEmail"
              type="email"
              placeholder="prenom.nom@polytechnique.edu"
            /><br />
            <label for="adress">Adresse <em>*</em></label>
            <input
              id="adress"
              name="formAdress"
              type="adress"
              placeholder=""
              required=""
            /><br />
            <label for="adress2">Ville <em>*</em></label>
            <input
              id="city"
              name="formCity"
              type="adress"
              placeholder=""
              required=""
            /><br />
            <label for="ibn">Code postale<em>*</em> </label>
            <input
              id="ibn"
              name="formCode"
              type="text"
              placeholder=""
              required=""
            /><br />
          </fieldset>

          <fieldset>
            <legend>Mode de livraison</legend>
            <div>
              <label for="relais">Relais à 5€</label>
              <input
                type="radio"
                id="relais-5"
                name="relais"
                value="1"
                checked="true"
                @click="checkedValue = '1'"
              />

              <label for="relais">Relais à 12€</label>
              <input
                type="radio"
                id="relais-12"
                name="relais"
                value="2"
                @click="checkedValue = '2'"
              />

              <h2>
                Total à payer:
                <span>
                  <div id="final-price">{{ totalFinalPrice() }}</div>
                </span>
              </h2>
            </div>
          </fieldset>
          <div class="button">
          <p><input id="submit-command" type="submit" value="Commander" /></p>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="credits">
        <p>Créé par Olivier DARRAULT</p>
      </div>
    </footer>
  </div>
</template>

<script>
import QuantityArticle from "./QuantityArticle.vue";
import { mapState } from "vuex";

export default {
  name: "cart",
  components: {
    QuantityArticle,
  },
  data: function () {
    return {
      displayForm: false,
      checkedValue: "1",
    };
  },
  beforeCreate: function () {
    if(this.$store.state.cartProducts.length===0) {
      this.$store.dispatch("setCartProductsToStore")
    }
  },

  methods: {
    
    totalLine(product) {
      return product.price * product.quantity;
    },

    changeQuantity(product, val) {
      product.quantity = val;
    },

    totalFinalPrice() {
      if (this.checkedValue === "1") {
        return this.totalPriceArticles + 5;
      } else {
        return this.totalPriceArticles + 12;
      }
    },
    deleteArticle(product) {
      let index = this.$store.state.cartProducts.indexOf(product);
      this.$store.commit("DELETE_ARTICLE", index);
    },
    getImage(id) {
      return this.$root.getImage(id);
    },
  },

  computed: {
    ...mapState(["cartProducts"]),

    totalPriceArticles: function () {
      let totalPrice = 0;
      for (let i = 0; i <= this.cartProducts.length - 1; i++) {
        totalPrice += this.cartProducts[i].quantity * this.cartProducts[i].price;
      }
      return totalPrice;
    },
  },
};
</script>


<style scoped>

.delete-article  {
  background-color: transparent;
  border:black;
  color:red;
}
.card-photo {
  height: 20%;
  width: auto;

}


</style>