<template>
  <div id="homepage">
    <div class="bg-dark">
      <div class="container">
        <div class="intro-panel">
          <div id="title">
            <h1>TVP</h1>
            <p><strong>T</strong>rouvez <strong>V</strong>otre <strong>P</strong>C</p>
          </div>
          <div id="comment">            
            <h3>
              <strong>T</strong>rouvez <strong>V</strong>otre <strong>P</strong>C reconditionné garanti par nos équipes d'experts
            </h3>
            <p class="comment-description">
Lorem ipsum dolor sit amet. Aut internos reiciendis eos quas tempore sed earum quaerat aut illo impedit rem perferendis itaque sit similique omnis aut perspiciatis repellat. 33 voluptatem corrupti ad nesciunt cupiditate id voluptates aliquid et dolor officiis aut quia nihil.
            </p>
          </div>

          <!-- <div id="slideshow" class="row ">
            <img class="col h-100 w-100 object-fit-cover"
              :src="require('@/assets/computers/images (1).jpg')"
              alt="Image bleue"
            />
            <img  class="col h-100 w-100 object-fit-cover"
              :src="require('@/assets/computers/images (3).jpg')"
              alt="Image verte"
            />
            <img  class="col h-100 w-100 object-fit-cover"
              :src="require('@/assets/computers/images (4).jpg')"
              alt="Image brune"
            />
            <img  class="col h-100 w-100 object-fit-cover"
              :src="require('@/assets/computers/images (5).jpg')"
              alt="Image bleue"
            />
            <img  class="col h-100 w-100 object-fit-cover"
              :src="require('@/assets/computers/images (6).jpg')"
              alt="Image bleue"
            />
          </div> -->
        </div>
      </div>
    </div>
    <section class="searchSection">
      <form class="searchForm">
        <i class="fas fa-search fa-lg"></i>
        <input class="input1" type="search" value="Cherchez un article" />
      </form>

      <div class="info">Plus de 1500 PC portables disponibles en Stock!</div>
    </section>

    <div class="allProducts">
      <div class="container">
        <div class="row">
          <section id="availableProducts" class="col">
            <h2>Produits en stock</h2>
            <div class="articles row row-cols-1 row-cols-md-3 g-4">
              <article
                class="relative col col-sm-6 col-lg-4"
                v-for="product in productsByClass.availables"
                :key="product.id"
              >
               <router-link
                  :to="{
                    name: 'productSheet',
                    params: { productId: product.id },
                  }"
                >  
                  <div class="card">
                    
                    <div class="card-img">
                      <img
                        :src="getImage(product.id)"
                        class="card-img-top h-100 w-100 object-fit-cover"
                        alt="..."
                      />
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ product.model }}</h5>
                      <p class="card-text">{{ product.price }}€</p>
                      <DisplayStars :stars="product.stars"></DisplayStars>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                
                  </div>
                  </router-link>
              </article>
            </div>

            <div class="displayMore">
              <a href="">Afficher plus</a>
            </div>
          </section>
          <section class="most-popular col">
            <h2>Les plus populaires</h2>
            <article
              class="relative d-flex flex-row-reverse"
              v-for="product in productsByClass.mostPopulars"
              :key="product.id"
            >
              <router-link
                :to="{
                  name: 'productSheet',
                  params: { productId: product.id },
                }"
              >
          
              <div class="card mb-3" style="">
                <div class="row g-0">
                  <div class="col-md-6">
                    <div class="card-img-popular">
                    <img
                      class="photoArticle h-100 w-100 object-fit-cover"
                      :src="getImage(product.id)"
                      alt=""
                    />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.model }}</h5>
                      <p class="card-text">{{ product.price }}€</p>
                      <DisplayStars :stars="product.stars"></DisplayStars>
                      
                    </div>
                  </div>
                </div>
              </div>
                  </router-link>
            </article>
          </section>
        </div>
      </div>
    </div>

    <div class="suggestions">
      <div class="container">
        <h2 class="title2">Nos suggestions</h2>
        <div class="suggestions row">
          <article
            class="relative col-lg-4 col-md-12 mb-4 mb-lg-0"
            v-for="product in productsByClass.suggestions"
            :key="product.id"
          >
            <router-link
              :to="{
                name: 'productSheet',
                params: { productId: product.id },
              }"
            >
           
            <header>
              <nav>
                <img class="photoArticle " :src="getImage(product.id)" alt="" />
              </nav>
            </header>
            <div class="infos">
              <h4>{{ product.model }}</h4>
            </div>
             </router-link>
          </article>
        </div>
        <div class="upButton">
          <a href="#" alt="revenir au titre" title="revenir en haut de page"
            ><i class="far fa-arrow-alt-circle-up fa-3x"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DisplayStars from "./DisplayStars.vue";

export default {
  name: "Homepage",
  components: {
    DisplayStars,
  },

  methods: {
    getImage(id) {
      return this.$root.getImage(id);
    },
    filterProductsByClass(class_to_filter) {
      return this.products.filter(
        (product) => product.classe == class_to_filter
      );
    },
  },

  computed: {
    products() {
      return this.$store.state.products;
    },
    productsByClass: function () {
      return {
        availables: this.filterProductsByClass("available"),
        mostPopulars: this.filterProductsByClass("mostPopular"),
        suggestions: this.filterProductsByClass("suggestion"),
      };
    },
  },
};
</script>

<style scoped>
#title {
  text-align: left;
  color:white;
}
#title h1 {
  font-size: 4rem;
}
.container h2 {
  padding:50px 0 50px 0;
}


#comment {

  width: 80%;
  color: white;
  padding-bottom: 180px;
}
.searchForm {
  margin: auto;
}

.searchSection {
  display: block;
  margin-top: 30px;
}

.searchForm {
  display: flex;
  width: 50%;
  margin: auto;
  height: auto;
}

.searchForm {
  margin-top: 3em;

  margin-bottom: 20px;
}

.fas.fa-search {
  margin: auto;
  color: gray;
}

.input1 {
  width: 80%;
  height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px;
  border-color: lightgray;
  margin-left: -1px;
  padding-left: 10%;
  font-size: 1.5rem;
  color: grey;
}

#search {
  height: 50px;
  width: 50px;
  font-weight: bold;
  border: none;
  padding: 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

.card {
  box-shadow: 0 0 1em #acabab;
}
.most-popular .relative a{
  text-align: right;
  width: 70%;
}

.info {
  width: 80%;
  margin: auto;
  text-align: center;
}

.allProducts .card-img {
  height: 100px;
}
.allProducts .card-img-popular {
  
  width: 200px;
}
</style>