<template>
  <div class="login">
    <h2 id="title">Bienvenue!</h2>
        <section class="descriptif">
          <article>
            <header>
              <nav>
                <img
                  class="photoArticle"
                  :src="require('@/assets/userLogos/images (2).jpg')"
                  alt=""
                />
              </nav>
            </header>
            <div class="infos">
              <h5>
                Pseudo:
                <span>
                  <input
                    id="pseudo"
                    name="formPseudo"
                    placeholder="Entrez votre pseudo"
                /></span>
              </h5>
              <h5>
                Mot de passe:
                <span>
                  <input id="password" name="formPassword" placeholder="Entrez votre mot de passe"
                /></span>
              </h5>
            </div>
            <div class="button">
                <input id="submit-signIn" @click="access()" type="submit" value="Accéder" />
            </div>
            
          <div>
                <input id="submit-signUp" @click="signUpPage()" type="submit" value="Créer un compte" />
            </div>
           
          </article>
          
        </section>
    
  </div>
</template>

<script>
import app from "../App.vue";


export default {
  name: "login",
  components: {},
  computed: {
  
  },
   methods: {
    access() {
        this.$store.dispatch("AUTHENTICATE", true);
        this.$router.push({
        name: "homepage",
      });
    },
    signUpPage() {
        this.$router.push({
      name: "signUp",
      
      });
    }
  },
  data: function () {
    return {
       
    };
  },
  component: app,
};
</script>

<style scoped>
.login {
  width: 50%;
  height: 80%;
  margin: auto;
  margin-top:5%;
}

.descriptif {
  margin: 5vh auto 0px auto;
  width: 50%;

  justify-content: space-between;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif h2 {
  align-self: flex-start;
}

.descriptif article {
  display: flex;
  flex-direction: column;

  height: 80%;
  width: 80%;
  margin: auto;

  padding: 5px;
}
.descriptif article header {
  /* width:50%; */
}

.descriptif article .photoArticle {
  object-fit: cover;
  /* width: 100%;
    height: 100%; */
}
.descriptif article header h3 {
  /* width:100%;
    height: 10px; */
}
.descriptif .infos {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-left: 40px;
}

.descriptif .infos .stars {
  align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.stars .hostingMainCardGradeIcon[data-active="false"] {
  color: #d2d4d6;
}

.bottomLinks {
  margin-top: 10%;
}
.bottomLinks a {
  color: white;
}

@media screen and (max-width: 1200px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
</style>