<template>
  <header>
    <div class="container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MENU LOGO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <router-link :to="{ name: 'homepage' }" active-class="active" class="nav-link">
                  Accueil
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'cart' }" active-class="active" class="nav-link">
                  Panier
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'userCommands' }" active-class="active" class="nav-link">
                  Mes commandes
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="{ name: 'products' }" active-class="active" class="nav-link">
                  Tous les produits
                </router-link>
              </li>
          
            </ul>
            <form class="d-flex">
              <router-link v-if="!authentification" :to="{ name: 'login' }" active-class="active" 
              class="btn btn-primary">
                  Se connecter
              </router-link>
              <span @click="disconnect()" v-else class="btn btn-danger">Se déconnecter</span>
          </form>
          </div>
        </div>
      </nav>
     
    </div>
  </header>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "navbar",
  computed: {
    ...mapState(["authentification"]),
  },
  methods: {
    disconnect() {
      this.$store.dispatch("AUTHENTICATE", false);
      this.$route.push("login");
    },
  },
};

</script>

<style scoped>


/* .router-link-active {
  font-style: italic;
}
.navbar {
  z-index: 10000;
} */
</style>