<template>
  <div class="products">
    
    <div class="container">
      <div id="title"><h3>Liste des Produits</h3></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Marque</th>
          <th scope="col">Model</th>
          <th scope="col">Description</th>
          <th scope="col">Voir détails</th>
        </tr>
      </thead>
      <tbody
        id="generated-products"
       
      >
        <tr class="product" v-for="product in products"
        :key="product.id" >
          <th scope="row"></th>
          <td>{{ product.model }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.details }}</td>
          <td><button @click="productSelect(product.id)" ><i class="fa fa-eye" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";
import { mapState } from "vuex";

export default {
  name: "Products",
  component: app,
  computed: {
    ...mapState(["products"]),
  },
  methods: {
    productSelect(productId) {
      this.$router.push({
        name: "productSheet",
        params: { productId: productId },
      });
    },
  },
};
</script>

<style scoped>
button {
  background: transparent;
  border: none;
  color: white;
}
.fa {
	color: black;
}

</style>