<template>
  <div class="container">
    <h2 id="title">Fiche descriptive</h2>
    <div id="generated-products" v-for="product in products" :key="product.id">
      <div v-if="product.id == selectedProduct">
        <section class="descriptif">
          <article>
            <header>
              <nav>
                <img
                  class="photoArticle"
                  :src="getImage(product.id)"
                  alt=""
                />
              </nav>
            </header>
            <div class="infos">
              <h4>{{ product.model }}</h4>
              <h5>
                Présentation: Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Quis consequuntur, soluta aperiam nihil natus
                facilis itaque quidem ipsum, eum iure neque cumque veritatis
                sint necessitatibus facere fugit hic nesciunt placeat.
              </h5>

              <h4>{{ product.description }}</h4>
              <h5>
                Description: Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Quis consequuntur, soluta aperiam nihil natus facilis
                itaque quidem ipsum, eum iure neque cumque veritatis sint
                necessitatibus facere fugit hic nesciunt placeat.
              </h5>

              <DisplayStars :stars="product.stars"></DisplayStars>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";
import DisplayStars from "./DisplayStars";
import { mapState } from "vuex";

export default {
  name: "ProductSheet",
  components: {
    DisplayStars,
  },
  computed: {
    ...mapState(["products"]),
  },
  methods: {
      getImage(productId) {
      return this.$root.getImage(productId)
    }
  },

  data: function () {
    return {
      selectedProduct: this.$route.params.productId,
    };
  },
  component: app,
};
</script>

<style>

</style>