<template>


	<div class="row">
		<div class="col-xs-3 col-xs-offset-3">
			<div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" v-if="count > 0" @click="count--"><i class="far fa-solid fa-minus"></i></button>
				</span>
				<input type="text" class="form-control text-center"  v-model="product.quantity" value="1">
				<span class="input-group-btn">
					<button class="btn btn-default" @click="count++"><span class="far fa-solid fa-plus"></span></button>
				</span>
			</div>
		</div>
	</div>





<!-- <aside class="quantity">
    <button class="custom-button"><i class="arrow arrow_left far fa-caret-square-left fa-2x " @click="count--" v-if="count > 0"></i></button>
    <input class="nb-article" v-model="product.quantity" />
    <button class="custom-button"><i @click="count++" class="arrow arrow_right far fa-caret-square-right fa-2x"></i></button>
</aside> -->
</template>

<script>
export default {
  name: "quantity-article",
  props: ["product"],
  data: function () {
    return {
      count: 0,
    };
  },
  watch: {
    count: function (val) {
      this.$emit("updated", val);
    },
  },
};
</script>

<style>
/* .custom-button {
  background-color: transparent;
  border:none;
  color:white;
}
input.nb-article {
  color:bl

}
.count-product {
  display:flex;
  justify-content: center;
}
.quantity {
  display:flex;
  flex-direction: row;
  margin-top:30%;
 
}
.nb-article {
  width: 50px;
  height:150%;
  border-radius: 10%;
} */


</style>