<template>
  <form
    action="../../api/order/"
    id="command-form"
    method="post"
    onsubmit="submitForm(event, this)"
  >
    <h2 id="title">Bienvenue! Créez votre compte!</h2>
    <p>
      <i>Complétez le formulaire. Les champs marqué par </i><em>*</em> sont
      <em>obligatoires</em>
    </p>
    <fieldset>
      <legend>Contact</legend>

      <label for="nom">Nom <em>*</em></label>
      <input
        id="nom"
        name="formName"
        placeholder="Entrez votre nom"
        autofocus=""
        required=""
      /><br />
      <div id="confirm-contact"></div>
      <label for="telephone">Portable</label>
      <input
        id="telephone"
        name="formPhone"
        type="tel"
        placeholder="06xxxxxxxx"
        pattern="06[0-9]{8}"
      /><br />
      <label for="email">Email </label>
      <input
        id="email"
        name="formEmail"
        type="email"
        placeholder="prenom.nom@polytechnique.edu"
      /><br />
      <label for="adress">Adresse <em>*</em></label>
      <input
        id="adress"
        name="formAdress"
        type="adress"
        placeholder=""
        required=""
      /><br />
      <label for="adress2">Ville <em>*</em></label>
      <input
        id="city"
        name="formCity"
        type="adress"
        placeholder=""
        required=""
      /><br />
      <label for="ibn">Code postale<em>*</em> </label>
      <input
        id="ibn"
        name="formCode"
        type="text"
        placeholder=""
        required=""
      /><br />

      <label for="ibn">Rôle<em>*</em> </label>
      <input
        id="role"
        name="formRole"
        type="text"
        placeholder=""
        required=""
      /><br />
    </fieldset>
    <p>
      <input
        id="submit-command"
        @click="createUser()"
        type="submit"
        value="Créer"
      />
    </p>
  </form>
</template>

<script>
export default {
  name: "signUp",
  methods: {
    createUser() {
      this.$store.dispatch("AUTHENTICATE", true);
      this.$router.push({
        name: "homepage",
      });
    },
  },
};
</script>

<style scoped>
h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
table {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;

  padding-top: 50px;
}
.descriptif {
  margin-top: 10px;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}
.descriptif h2 {
  align-self: flex-start;
}
.descriptif article {
  display: flex;
  /* flex-wrap: wrap; */
  width: 80%;
  height: auto;

  margin: 10px 0 10px 0;
  padding: 5px;
}
.descriptif article header {
  width: 50%;
}
.descriptif article .photoArticle {
  display: inline-block;
  position: relative;
  left: 90%;
  object-fit: cover;
  width: 50%;
  height: 100%;
  border-radius: 25% 0 0 25%;
}
.descriptif article header h3 {
  width: 100%;
  height: 10px;
}
.descriptif .infos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.quantity {
  height: 20px;
  width: auto;
}
.description {
  width: 200px;
  text-align: left;
}
.quantity input {
  align-items: center;
  width: 10px;
}

.description .infos .quantity {
  display: flex;
}
table {
  text-align: center;
}
.line {
  height: 2px;
  color: rgb(223, 23, 23);
}
@media screen and (max-width: 900px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  table {
    width: 100%;
    font-size: 0.6em;
  }
}

form {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
p {
  margin-top: 0px;
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

input:focus {
  background: #eaeaea;
}

input,
textarea {
  width: 249px;
}

textarea {
  height: 100px;
}

select {
  width: 254px;
}

input[type="checkbox"] {
  width: 10px;
}

input[type="submit"] {
  width: 150px;
  padding: 10px;
}
.hideForm {
  display: none;
}
.showForm {
  display: true;
}
</style>