<template>
  <div class="container">
        <div id="title">
            <h2>Mes commandes</h2>
        </div>
        <section>
            <div v-for="myCommand in myCommands" :key="myCommand.id">
                <article class="myCommand">
                    <div class="oneLine">
                        <div class="group">
                            <span class="title">Model: {{myCommand.model}}</span>
                        </div>
                        <div class="group">
                            <span class="ref">Ref:{{myCommand.reference}}</span>
                        </div>
                    </div>
                    <div class="group">
                        <span class="price">Prix:{{myCommand.price}} €</span>
                    </div>
                    <div class="group">
                        <span class="commandDate">Article commandé le:{{myCommand.command_date}}</span>
                    </div>
                    <div class="group">
                        <span class="delivreryDate">Date prévue de livraison: {{myCommand.delivery_date}}</span>
                    </div>
                    <div class="group">
                        <span class="delivreryAdress">Adresse de livraison: {{myCommand.delivreryAdress}}</span>
                    </div>
                </article>
            </div>
        </section>
        <div class="upButton">
            <a href="#" alt="revenir au titre" title="revenir en haut de page"><i
                    class="far fa-arrow-alt-circle-up fa-3x"></i></a>
        </div>

    </div>
</template>

<script>
export default {
    name:'UserCommands',
    data: function() {
        return {
            myCommands:[ 
            {
                id:1,
                model:"HP",
                reference:"09887726662776",
                price:550,
                command_date: "10/02/2022",
                delivery_date: "20/02/2022",
                delivery_adress: "7,allée de longchamp"
            },
             {
                id:2,
                model:"Asus",
                reference:"0988773222776",
                 price:650,
                command_date: "10/02/2022",
                delivery_date: "20/02/2022",
                delivery_adress: "7,allée de longchamp"
            }
            ]
        }
    }
}
</script>

<style>
.bigTitle {
    text-align:center;
    margin-bottom:5%;
}

.myCommand {
    widows: 100%;
    padding:3%;
    border:1px solid;
    margin:auto;
    background-color: white;
    opacity: 0.5;

    color:black;
}
.oneLine {
    display:flex;
    justify-content: space-between;
}
input {
    border:none;
}

</style>