<template>
  <div id="app">
      <navbar></navbar>
      <main id="main" class="custom-container">
          <router-view />
      </main>
      <!-- footer -->
  </div>
</template>

<script>
import navbar from './components/Nav.vue'

export default {
    name: "app",
    components: {
        navbar
    },
    data: function () {
    return {
    };
  },
}

</script>

<style>

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
    /* background-color: #0d6efd0a; */
}

a{
    color: inherit;
    text-decoration: none;
}
#title {
    width: 100%;
 
    padding-bottom: 50px;
}

.container {
    padding-top: 50px;
}

.bg-dark-blue .container{
    background-color: transparent;
}
#homepage .bg-dark {
    box-shadow: 0 0 1em #acabab;
}

.upButton {
    margin-bottom: 4em;
}
.upButton a{
    padding-left: 4em;
}

.object-fit-cover{
    object-fit: cover;
}
.descriptif .infos .stars {
  align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.stars .hostingMainCardGradeIcon[data-active="false"] {
  color: #d2d4d6;
}

</style>
